html,body {
    height: 100%;
    background: #f2f2f2;
}

.title{
    width:100%;
    height:50px;
    line-height:40px;
    font-size:35px;
    border-bottom:1px solid;
    border-color:#E1E1E1;
}

.userinfo-wrapper{
    margin-top:20px;
}

.userinfo-line{
    width:100%;
    margin-bottom:5px;
}

.userinfo-line input{
    font-size:20px;
    line-height:35px;
    height:40px;
    width:100%;
    text-align:center;
}

.userinfo-label{
    font-size:20px;
    line-height:35px;
    height:40px;
    width:100%;
    text-align:left;
}

.button {
    width:100%;
    border-bottom:1px solid;
    border-color:#E1E1E1;
    text-align:center;
    height:40px;
    font-size:20px;
    line-height:40px;
}