<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
</head>
<body>
<div class="user-box-title">修改密码</div>
<form action="{:U('Login/modifyPasswordHandler')}" method="post">
    <div class="user-box-item">
        手机号
        <input name="phone" id="phone" value="{$phone}"/>
        <div id="enable_regist"></div>
    </div>
    <div class="user-box-item">
        验证码
        <input name="verify_code" id="verify_code" size="10"/>
        <input type="button" id="send_code_button" class="common-button" value="发送"/>
    </div>
    <div class="user-box-item">
        新密码
        <input type="password" name="password"/>
    </div>
    <div class="user-box-item">
        <input type="submit" id="submit_button" class="common-button" value="修改密码" disabled="disabled"/>
    </div>
</form>
<script src="__PUBLIC__/lib/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/js/verifycode.js"></script>
<script type="text/javascript">
    (function(){
        eventHandler();
        function eventHandler(){
            addSendVerifyCode('#send_code_button','#phone',"{:U('Api/Message/sendVerifyCode')}");
            addVolidateVerifyCode('#verify_code','#send_code_button','#submit_button');

            $('#phone').blur(function(){
                phoneNum = $('#phone').val();
                if( !phoneNum ){
                    alert("请填写手机号")
                }else{
                    var aj = $.ajax({
                        url: "{:U('Login/isPhoneExist')}",
                        data: {
                            phone: phoneNum
                        },
                        type: 'post',
                        cache: false,
                        dataType: 'json',
                        success: function (data) {
                            if (!data.regist_state) {
                                if( confirm("手机号 "+phoneNum+" 未被注册，是否前往注册？")){
                                    window.location.href = "{:U('Login/regist')}";
                                }
                            }
                        },
                        error: function () {
                            alert("异常！");
                        }
                    });
                }
            });
        }
    }());
</script>
</body>
</html>