<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <style>
        .red-text{
            color: #ff0000;
        }
    </style>
</head>
<body>
<div class="user-box-title">用户注册</div>
<form action="{:U('Login/registHandler')}" method="post">
    <div class="user-box-item" id="phone_item">
        手机号码
        <input name="phone" id="phone" value="{$phone}"/>
    </div>
    <div class="user-box-item">
        验证号码
        <input name="verify_code" size="10" id="verify_code" />
        <input type="button" id="send_code_button" class="common-button" value="发送"/>
    </div>
    <div class="user-box-item">
        登录密码
        <input type="password" name="password"/>
    </div>
    <div class="user-box-item">
        <input type="submit" id="submit_button" class="common-button" value="注册" disabled="disabled"/>
    </div>
</form>
<script src="__PUBLIC__/lib/jquery-1.7.2.min.js"></script>
<script src="__PUBLIC__/js/verifycode.js"></script>
<script type="text/javascript">
    (function(){
        eventHandler();
        function eventHandler(){
            addSendVerifyCode('#send_code_button','#phone',"{:U('Api/Message/sendVerifyCode')}");
            addVolidateVerifyCode('#verify_code','#send_code_button','#submit_button');

            $('#phone').blur(function(){
                phoneNum = $('#phone').val();
                if( !phoneNum ){
                    alert("请填写手机号")
                }else{
                    var aj = $.ajax({
                        url: "{:U('Login/isPhoneExist')}",
                        data: {
                            phone: phoneNum
                        },
                        type: 'post',
                        cache: false,
                        dataType: 'json',
                        success: function (data) {
                            if (data.regist_state) {
                                alert("该手机号已被注册");
                                $('#phone_item').addClass("red-text");
                            }else{
                                $('#phone_item').removeClass("red-text");
                            }
                        },
                        error: function () {
                            alert("异常！");
                        }
                    });
                }
            });

        }
    }());
</script>
</body>
</html>