<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <style>
        input::-webkit-input-placeholder {
            color: #999;
            -webkit-transition: color.5s;
        }
        input:focus::-webkit-input-placeholder, input:hover::-webkit-input-placeholder {
            color: #c2c2c2;
            -webkit-transition: color.5s;
        }

        .total-num{
            font-size:20px;
            color:#ff0000;
        }

    </style>
</head>
<body>

<div class="user-box-title">个人中心</div>
<div class="total-num">持咒总数：{$user.total}</div>
<input type="hidden" name="id" value="{$user.id}"/>
<div class="user-box-item">手机：<input name="phone" value="{$user.phone}" disabled="disabled"/></div>
<div class="user-box-item">姓名：<input name="realname" id="realname" placeholder="真实姓名" value="{$user.realname}"/></div>
<div class="user-box-item">法名：<input name="dharma" id="dharma" placeholder="法名（灌顶弟子填写）" value="{$user.dharma}"/></div>
<div class="user-box-item">
    <input class="common-button" type="button" value="保存信息" onclick="updateUserInfo()"/>
    <input class="common-button" type="button" value="修改密码" onclick="modifyPassword()"/>
    <input class="common-button" type="button" value="退出登录" onclick="logout()"/>
</div>

<script src="__PUBLIC__/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript">

    function modifyPassword(){
        window.location.href="{:U('Login/modifyPassword', array('phone'=>$user['phone']))}";
    }

    function logout(){
        window.location.href="{:U('Login/logout')}";
    }

    function updateUserInfo(){
        phone = '{$user.phone}';
        realname = $('#realname').val();
        dharma = $('#dharma').val();
        alert(realname);
        var aj = $.ajax({
            url: "{:U('Api/User/updateUserInfo')}",
            data: {
                id:'{$user.id}',
                phone:'{$user.phone}',
                realname:$('#realname').val(),
                dharma:$('#dharma').val()
            },
            type: 'post',
            cache: false,
            dataType: 'json',
            success: function (data) {
                if (!data.error_code) {
                    alert("信息保存成功！");
                }else{
                    alert("信息保存失败！");
                }
            },
            error: function () {
                alert("异常！");
            }
        });
    }

</script>

</body>
</html>