body{
    background: #EFE8D8;
    text-align:center;
    color:#9D804B;
}

.common-button{
    background:#9D804B;
    color:#fff;
}

.user-box-title{
    font-size:40px;
    margin-bottom:20px;
}

.user-box-item{
    font-size:22px;
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 5px;
}
.user-box-item input{
    height:25px;
    margin-left:5px;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}