<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计数器</title>
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <style>
        .counter-button{
            width:100%;
            height:200px;
            font-size:5vw;
            margin-bottom:20px;
        }

        .today-num{
            margin-bottom:10px;
        }

        .total{
            display:inline-block;
        }

        .today{
            display:inline-block;
        }

        .hide{
            display:none;
        }

    </style>
</head>
<body>
<div class="user-box-title" >在线持咒</div>
<div>
    <div>点击“数字按钮”均可进行计数，持咒结束后点击同步到服务器，系统就会自动将您本次持诵数目上报到服务器</div>
    <div class="total-num">总共持诵数目为：<div id="total" class="total"></div></div>
    <div class="today-num">本日持诵数目为：<div id="today" class="today"></div></div>
    <div><input type="button" name="counter" id="counter" class="counter-button common-button" ></div>
    <div>
        <audio id="mlztsz" src="__PUBLIC__/Audio/{:C('MANTRA_SLOW')}" ></audio>
    </div>
    <div id="chant_box" class="hide">
        <div>
            <input type="radio" name="chant_speed" id="chant_slow" checked="checked"/>慢诵
            <input type="radio" name="chant_speed" id="chant_fast" />快诵
        </div>
        <div>
            <input type="radio" name="chant_type" id="chant_108" value="108" checked="checked" />108遍
            <input type="radio" name="chant_type" id="chant_1080" value="1080" />1080遍
            <input type="radio" name="chant_type" id="chant_diy" value="0" />自定义
            <input type="radio" name="chant_type" id="chant_forever" value="-1" />随力持诵
        </div>
        <div id="chant_num_box" >
            <input id="chant_num" class="hide" value="108"/>
        </div>
        <div>
            <input type="button" id="start_chant" class="common-button" value="开始持诵"/>
        </div>
    </div>
    <div>
        <input type="button" id="follow_guru" class="common-button" value="跟师父一起念"/>
        <input type="button" name="sync" id="sync" class="common-button" value="同步到服务器"/>
        <input type="button" name="reset" id="reset" class="common-button" value="清零"/>
    </div>
</div>
<script src="__PUBLIC__/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
    (function(){
        fastChant = "__PUBLIC__/Audio/"+"{:C('MANTRA_FAST')}";
        slowChant = "__PUBLIC__/Audio/"+"{:C('MANTRA_SLOW')}";
        chantNum = 0;

        var Util = (function(){
            var prefix = "{:C('HTML5_LOCALSTORAGE_PREFIX')}"+'counter_';
            var StorageGetter = function(key){
                return localStorage.getItem(prefix+key);
            }
            var StorageSetter = function(key,val){
                return localStorage.setItem(prefix+key,val);
            }
            return {
                StorageGetter:StorageGetter,
                StorageSetter:StorageSetter
            };
        })();

        Dom = {
            counter : $('#counter'),
            sync : $('#sync'),
            total :$('#total'),
            today:$('#today'),
            chantBox : $('#chant_box'),
            chantNum:$('#chant_num'),
            audio: document.getElementById("mlztsz")
        };

        autoChant = false;

        num = parseInt(Util.StorageGetter("num"));
        if( !num ){
            num = 0;
            Dom.counter.val(num);
        }else{
            Dom.counter.val(num);
        }

        function swicthChantType() {
            switch ($("input[name=chant_type]:checked").attr("id")) {
                case "chant_108":
                    $('#chant_num').val(108);
                    Dom.chantNum.hide();
                    break;
                case "chant_1080":
                    $('#chant_num').val(1080);
                    Dom.chantNum.hide();
                    break;
                case "chant_diy":
                    $('#chant_num').val(108);
                    Dom.chantNum.show();
                    break;
                case "chant_forever":
                    Dom.chantNum.hide();
                    $('#chant_num').val(-1);
                    break;
                default:
                    break;
            }
        }

        function swicthChantSpeed() {
            switch ($("input[name=chant_speed]:checked").attr("id")) {
                case "chant_slow":
                    Dom.audio.src=slowChant;
                    break;
                case "chant_fast":
                    Dom.audio.src=fastChant;
                    break;
                default:
                    break;
            }
        }



        total = parseInt('{$total}');
        todayNum = parseInt('{$todayNum}');
        Dom.total.html(total);
        Dom.today.html(todayNum);

        eventHandler();
        function eventHandler(){

            function addOne(){
                num += 1;
                Dom.counter.val(num);
                Util.StorageSetter("num",num);
            }

//            document.onkeydown = addOne;

            Dom.counter.click(function(){
                addOne();
            });

            Dom.audio.addEventListener('ended',function(){
                if( chantNum != 0 ){
                    chantNum -= 1;
                    Dom.audio.play();
                    addOne();
                }else{
                    $('#start_chant').val('开始念诵');
                    alert("念诵完成！");
                }
            });

            $('#follow_guru').click(function(){
                if( Dom.chantBox.css('display')=='none' ){
                    Dom.chantBox.show();
                }else{
                    Dom.chantBox.hide();
                }
            });

            $("input[name=chant_type]").click(function(){
                swicthChantType();
            });

            $("input[name=chant_speed]").click(function(){
                swicthChantSpeed();
            });

            $('#start_chant').click(function(){
                autoChant = !autoChant;
                chantNum = $('#chant_num').val();
                if( chantNum == "" || chantNum == null || isNaN(chantNum) ){
                    alert("请输入有效数目！");
                }else{
                    if( autoChant ){
                        $('#start_chant').val('停止念诵');
                        Dom.audio.load();
                        Dom.audio.play();
                    }else{
                        $('#start_chant').val('开始念诵');
                        Dom.audio.pause();
                    }
                }
            });

            $('#reset').click(function(){
                if( confirm("清零之后将丢失当前计数，并且当前数目不被同步到服务器上，确定吗？")){
                    if( confirm("清零之后将丢失当前计数，并且当前数目不被同步到服务器上，真的确定吗？")){
                        Dom.counter.val(0);
                        num = 0;
                        Util.StorageSetter("num",0);
                    }
                }
            });

            Dom.sync.click(function(){
                var aj = $.ajax({
                    url: "{:U('Api/Countin/addNum')}",
                    data: {
                        userid: '{$Think.session.userid}',
                        num: num
                    },
                    type: 'post',
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        if (!data.error_code) {
                            Dom.counter.val(0);
                            Util.StorageSetter("num",0);
                            total += num;
                            todayNum += num;
                            Dom.total.html(total);
                            Dom.today.html(todayNum);
                            num = 0;
                            //TODO 在屏幕上显示3秒钟提示框
                            alert("同步成功！");
                        }else{
                            alert("同步失败！");
                        }
                    },
                    error: function () {
                        alert("异常！");
                    }
                });
            })
        }
    })();
</script>
</body>
</html>