<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计数器</title>
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
    <style>
        .counter-button{
            width:100%;
            height:200px;
            font-size:5vw;
            margin-bottom:20px;
        }

        .total-num{
            display:inline-block;
            margin-bottom:10px;
        }

        .total{
            display:inline-block;
        }

    </style>
</head>
<body>
<div class="user-box-title" >在线持咒</div>
<div>
    <div>按“键盘任意键”或点击“数字按钮”均可进行计数，持咒结束后点击同步到服务器，系统就会自动将您本次持诵数目上报到服务器</div>
    <div class="total-num">您当前总共持诵数目为：<div id="total" class="total"></div></div>
    <div><input type="button" name="counter" id="counter" class="counter-button common-button" ></div>
    <div>
        <audio id="mlztsz" src="__PUBLIC__/audio/mlztsz.mp3" >亲 您的浏览器不支持html5的audio标签</audio>
    </div>

    <div>
        <input type="button" id="follow_guru" class="common-button" value="跟师父一起念"/>
        <input type="button" name="sync" id="sync" class="common-button" value="同步到服务器"/>
        <input type="button" name="reset" id="reset" class="common-button" value="清零"/>
    </div>
</div>
<script src="__PUBLIC__/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
    (function(){
        var Util = (function(){
            var prefix = 'mlztgx_counter_';
            var StorageGetter = function(key){
                return localStorage.getItem(prefix+key);
            }
            var StorageSetter = function(key,val){
                return localStorage.setItem(prefix+key,val);
            }
            return {
                StorageGetter:StorageGetter,
                StorageSetter:StorageSetter
            };
        })();

        Dom = {
            counter : $('#counter'),
            sync : $('#sync'),
            total :$('#total'),
            audio: document.getElementById("mlztsz")
        };

        autoChant = false;

        num = parseInt(Util.StorageGetter("num"));
        if( !num ){
            num = 0;
            Dom.counter.val(num);
        }else{
            Dom.counter.val(num);
        }

        total = parseInt('{$total}');
        Dom.total.html(total);

        eventHandler();
        function eventHandler(){

            function addOne(){
                num += 1;
                Dom.counter.val(num);
                Util.StorageSetter("num",num);
            }

            document.onkeydown = addOne;

            Dom.counter.click(function(){
                addOne();
            });

            Dom.audio.addEventListener('ended',function(){
                Dom.audio.play();
                addOne();
            });

            $('#follow_guru').click(function(){
                autoChant = !autoChant;
                if( autoChant ){
                    $('#follow_guru').val('||');
                    Dom.audio.load();
                    Dom.audio.play();
                }else{
                    $('#follow_guru').val('跟师父一起念');
                    Dom.audio.pause();
                }

                var audio = document.createElement("audio");
                audio.src = "piano/3C.mp3";
                audio.addEventListener('ended', function () {
                    // Wait 500 milliseconds before next loop
                    setTimeout(function () { audio.play(); }, 500);
                }, false);
                audio.play();
            });

            $('#reset').click(function(){
                if( confirm("清零之后将丢失当前计数，并且当前数目不被同步到服务器上，确定吗？")){
                    if( confirm("清零之后将丢失当前计数，并且当前数目不被同步到服务器上，真的确定吗？")){
                        Dom.counter.val(0);
                        num = 0;
                        Util.StorageSetter("num",0);
                    }
                }
            });

            Dom.sync.click(function(){
                var aj = $.ajax({
                    url: "{:U('Api/Countin/addNum')}",
                    data: {
                        userid: '{$Think.session.userid}',
                        num: num
                    },
                    type: 'post',
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        if (!data.error_code) {
                            Dom.counter.val(0);
                            Util.StorageSetter("num",0);
                            total += num;
                            Dom.total.html(total);
                            num = 0;
                            //TODO 在屏幕上显示3秒钟提示框
                            alert("同步成功！");
                        }else{
                            alert("同步失败！");
                        }
                    },
                    error: function () {
                        alert("异常！");
                    }
                });
            })
        }
    })();
</script>
</body>
</html>