<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计数器</title>
    <style>

    </style>
</head>
<body>
<div>
    <div>您当前总共持诵数目为：<div id="total"></div></div>
    <div><input type="button" name="counter" id="counter" ></div>
    <div><input type="button" name="sync" id="sync" value="同步到服务器"/></div>
</div>
<script src="__PUBLIC__/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
    (function(){
        var Util = (function(){
            var prefix = 'mlztgx_counter_';
            var StorageGetter = function(key){
                return localStorage.getItem(prefix+key);
            }
            var StorageSetter = function(key,val){
                return localStorage.setItem(prefix+key,val);
            }
            return {
                StorageGetter:StorageGetter,
                StorageSetter:StorageSetter
            };
        })();


        Dom = {
            counter : $('#counter'),
            sync : $('#sync'),
            total :$('#total')
        };

        num = parseInt(Util.StorageGetter("num"));
        if( !num ){
            num = 0;
            Dom.counter.val(num);
        }else{
            Dom.counter.val(num);
        }

        total = parseInt('{$total}');
        Dom.total.html(total);

        eventHandler();
        function eventHandler(){

            Dom.counter.click(function(){
                num += 1;
                Dom.counter.val(num);
                Util.StorageSetter("num",num);
            });

            Dom.sync.click(function(){
                var aj = $.ajax({
                    url: "{:U('Api/Countin/addNum')}",
                    data: {
                        userid: '{$Think.session.userid}',
                        num: num
                    },
                    type: 'post',
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        if (!data.error_code) {
                            Dom.counter.val(0);
                            Util.StorageSetter("num",0);
                            total += num;
                            Dom.total.html(total);
                            num = 0;
                            //TODO 在屏幕上显示3秒钟提示框
                            alert("上报成功！");
                        }else{
                            alert("上报失败！");
                        }
                    },
                    error: function () {
                        alert("异常！");
                    }
                });
            })
        }
    })();
</script>
</body>
</html>